streamlit
gradio
requests
python-dotenv
anthropic
duckdb
chromadb
sentence-transformers
scikit-learn
pypdf
pandas
numpy

# Etapa 2 - AutoML
flaml[automl]
ucimlrepo
joblib

# Etapa 2 - Agentes
crewai
crewai-tools
langchain-community
langchain-ollama

# Etapa 2 - Observabilidade
langfuse

# Etapa 2 - Avaliacao
deepeval
